<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8"
     <title> Restaurant Homepage </title>
     <link rel="stylesheet" type="text/css" href="{% static 'home/style.css'%}">
</head>
<body>
      <div class="container">
        <h1>Welcome to Our Restaurant!</h1>
        <p>Explore our menu and order your favourite dishes.</p>
        <a href="/menu/" class="btn">View Menu </a>
        <a href="/about/">About Us</a>
        <a href="{%url 'menu' %}" View Menu </a>
    </div>
</body>
</html>
