{% extends "base.html" %}
{% block content %}
<div style="margin:20px;padding:10px;border:1px solid #ccc;">
    <h2> Our Address </h2>
    {% if address %}
    <p>{{address.street }}</p>
    <p>{{address.city }},{{address.state }}-{{ address.zipcode }}</p>
    <h3 style="margin-top:20px:">Opening Hours</h3>
    {% if address.opening_hours %}
    <ul>
        {% for day,time in address.opening_hours.items %}
        <li><strong>{{ day }}:</strong>{{ time }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Opening hours not available
        {% endif %}
        {% else %}
    <p>Address not available </p>
    {% endif %}
    </div>
    {% endblock %}


